body {
    font-family: 'Quicksand', sans-serif;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input {
    font-family:inherit;
}

input[type=text] {
    width: 130px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    
    padding: 12px 20px 12px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px #ddd;
    
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
    border: 3px solid #555;
}

input[type=submit] {
    background-color: #39C0BA;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 8px 0;
    cursor: pointer;
}